.text-primary
{
  color: #f30!important;
}
.btn-primary
{
  background-color: #f30!important;
  border-color: #f30!important;
}

.btn-outline-primary
{
  border-color: #f30!important;
  color: #f30!important;
}

.btn-outline-primary:hover
{
  background-color: #f30!important;
  border-color: #f30!important;
  color: white!important;
}

.swiper-pagination-bullet
{
  border-radius: 0!important;
  width: 3rem!important;
  height: 0.5rem!important;
}

.swiper-container-horizontal > .swiper-pagination-bullets
{
  position: relative;
}

.swiper-pagination-bullet-active
{
  background-color: white!important;
}
