body
{
    font-family: 'Montserrat', sans-serif;
}

section
{
    min-height: 80vh;
    padding: 3vw;
}

section p
{
  font-size: calc(0.8rem + 0.4vw);
}

section h6
{
  color: #f30;
  font-size: calc(1rem+1vw);
  font-weight: 600;
  text-transform: uppercase;
}

section h6::before
{
  content: '/';
  padding-right: 0.5rem;
}

section h4
{
    font-size: calc(1.2rem + 1vw);
    font-weight: 700;
}

section h3
{
  font-family: 'Domine', serif;
  font-size: calc(2rem + 1.5vw);
  margin-bottom: 5vh;
}


#sidebar-nav
{
    position: fixed;
    background: black;
    opacity: 0.9;
    width: calc(12rem + 15vw);
    max-width: 20rem;
    z-index: 1200;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 2rem;
    display: none;
    transition: 1s;
}

a
{
  text-decoration: none;
  color: inherit;
}

a:hover
{
  text-decoration: none;
  color: inherit;
}

#close-sidebar
{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
}

#sidebar-nav h3
{
  color: #f30;
  font-size: calc(0.6rem + 0.2vw);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 5vh;
}

#sidebar-links
{
  list-style: none;
  counter-reset: li;
  margin-top: 5vh;
}

#sidebar-links li
{
    color: white;
    font-size: calc(0.8rem + 0.3vw);
    padding-bottom: 1rem;
    counter-increment: li;
    transition: 0.5s;
    animation-delay: 0.5s;
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#sidebar-links li:hover { font-size: 120%; transition: 0.5s; }

#sidebar-links li::before
{
  content: counter(li);
  color: gray;
  display: inline-block;
  width: 1rem;
  margin-right: 0.5rem;
  margin-left: -2rem;
  font-size: 80%;
}

#sidebar-links::before
{
  content: 'NAVIGATION LINKS';
  color: #f30;
  font-size: calc(0.5rem + 0.2vw);
  margin-bottom: 1rem;
  display: block;
  left: -2.5rem;
  position: relative;
}
#sidebar-links li:hover::before { color: #f30; }

#sidebar-social
{
  list-style: none;
  padding: 0;
  color: gray;
  margin-top: 3vh;
}

#sidebar-social li:hover
{
  color: #f30;
}

#sidebar-social::before
{
  content: 'FOLLOW US ON';
  color: #f30;
  font-size: calc(0.5rem + 0.2vw);
  margin-bottom: 1rem;
  display: block;
}

#sidebar-social li
{
  font-size: 1.5rem;
  margin: 0 0.8rem;
  display: inline-block;
}

#sidebar-logos
{
    margin-top: 5vh;
}
#sidebar-logos img
{
  height: 2.8rem;
  margin-right: 0.5rem;
}

#sidebar-logos::before
{
  content: 'ORGANIZED BY';
  color: #f30;
  font-size: calc(0.5rem + 0.2vw);
  margin-bottom: 1rem;
  display: block;
}

#header
{
  background: url('../images/cover.jpg');
  background-size: cover;
  background-color: black;
  padding: 0;
  height: 80vh;
}

#header-wrap
{
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  padding: 3vh;
}


#header .site-logo img
{
  width: 10rem;
}

#header .head-container
{
  min-height: 60vh;
  align-items: center;
  margin-right: 0;
  margin-top: 5vh;
}

@media (min-width: 768px) {
  #header .head-container{
    padding-left: 5vw;
    padding-right: 30vw;
  }
  #testimonials .swiper-slide
  {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  #testimonials .swiper-slide p
  {
    width: 75%;
    padding: 2rem;
  }
  .testimonial-author
  {
    width: 25%;
    left: 0!important;
  }
  #copytext
  {
    text-align: left!important;
  }
}

#header h1
{
  font-family: 'Domine', serif;
  color: #fff;
  font-size: calc(2rem + 2.2vw);
}

#header h2
{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1rem + 1vw);
  margin: 1.5rem 0;
}

#header .btn
{
  font-size: calc(0.7rem + 0.7vw);
  font-weight: 600;
}

#hamburger
{
  position: fixed;
  right: 1rem;
  top: 1rem;
  color: white;
  background-color: black;
  padding: 1rem 1.2rem;
  line-height: 1;
  font-size: 1.2rem;
  z-index: 900;
}

#nav-links {
  position: absolute;
  top: 20vh;
  right: 5vw;
  color: white;
}
#nav-links li::before
{
    content: '\f192';
    font-family: "Font Awesome 5 Free";
    color: #f30;
    width: 10%;
    margin: 0 1rem;
}

#nav-links li
{
  display: flex;
  padding-bottom: 1rem;
  animation-delay: 0.5s;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#nav-links a
{
  width: 90%;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}


#nav-links span
{
    font-weight: 300;
    display: block;
    color: grey;
    font-size: 13px;
}

#timeline
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

#stats
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

#testimonials
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding-top: 5vh;
}


#testimonials .swiper-slide
{
  color:white;
  justify-content: center;
  align-items: center;
      padding: 1rem;
}

#testimonials .swiper-slide p
{
  margin-bottom: 0;
  padding: 1rem;
}

#contact{
  min-height: 50vh;
}
#contact-details { padding: 0; }
#contact-details i
{
  margin: 1rem;
  padding: 1rem;
  background: #f15;
  border-radius: 200%;
}

#contact-details li
{
  color: white;
  font-size: calc(0.6rem + 0.8vw);
  padding: 0.5vw 0;
  list-style: none;
  display: flex;
  align-items: center;
  line-height: 1.3;
}

.testimonial-author
{
    display: flex;
}

.testimonial-author div:first-child
{
    float: left;
}
.testimonial-author div:last-child
{
  display: inline-block;
  position: relative;
  top: 1rem;
  left: 1rem;
  font-size: calc(0.8rem + 0.5vw);
  line-height: 1.2;
  font-weight: 600;
}

.testimonial-author img
{
    border-radius: 5rem;
    width: 5rem;
    height: 5rem;
}

.testimonial-author div span
{
  display: block;
  font-size: 80%;
  color: #ddd;
}

.swiper-wrapper
{
  margin-bottom: 5vw;
}

.num-group
{
  list-style: none;
  margin-top: 5vh;
  padding: 0;
  counter-reset: li;
}

.num-group li h4
{
    padding: 1vw;
    display: flex;
    counter-increment: li;
}

.num-group li h4::before
{
  width: calc(2.5rem + 0.5vw);
  height: calc(2.5rem + 0.5vw);
  line-height: 1;
  display: inline-block;
  content: counter(li);
  color: white;
  background: #f30;
  padding: 0.8rem;
  border-radius: 15vw;
  font-size: calc(0.8rem + 0.8vw);
  text-align: center;
  left: -0.5rem;
  top: -0.5rem;
  font-weight: 700;
  position: relative;
}

.footer-social
{
    font-size: calc(1.5rem + 1vw);
    padding: 0.5rem;
}

.footer-social a
{
    margin: 0.5rem;
    color: #aaa;
}

.footer-social a:hover
{
    color: white;
}

#copytext
{
  color: #eee;
  border-top: solid rgba(256,256,256,0.1) 1px;
  padding-top: 0.8rem;
  text-align: center;
  font-size: 80%;
  margin-top: 5vh;
}

#scroll-up
{
  display: block;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 0.8rem;
  background: black;
  z-index: 9000;
  color: white;
  border-radius: 2rem;
  width: 3rem;
  height: 3rem;
  line-height: 1;
  font-size: 120%;
  text-align: center;
}

#contest-details .card
{
  border-radius: 0;
}

#contest-details .card-header
{
    background: #f30;
    border-radius: 0;
}

#contest-details button
{
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: calc(0.8rem + 0.5vw);
}

#contest-details button:hover, #contest-details button:focus
{
  text-decoration: none;
}
